* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.space {
  margin-top: 40px;
}
header {
  background-color: rgb(107, 251, 251);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 8px;
  position: fixed;
  top: 0;
  left: 0;
}
.color-bg {
  background-image: linear-gradient(to left, rgb(9, 255, 235), rgb(2, 91, 245));
}
#logo {
  font-size: 20px;
  font-family: "Facon";
  background: -webkit-linear-gradient(#eee, #06ffea);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 5px;
}
.list {
  display: flex;
  list-style: none;
  position: relative;
}
.list li a {
  font-family: "Distant Galaxy";
  text-decoration: none;
  margin-left: 20px;
  width: 100%;
  color: rgba(12, 47, 113, 0.857);
}
.dropdonw {
  display: none;
}
.list :hover .dropdonw {
  list-style: none;
  display: block;
  position: absolute;
  top: 100%;
  background-color: rgba(50, 121, 244, 0.615);
  border-radius: 10px;
}
.dropdonw li a:hover {
  text-shadow: 0px 0px 10px;
}
.dropdonw li {
  display: block;
  margin: 15px;
  width: 120px;
  height: 10px;
}
.dropdonw li a {
  color: (12, 47, 113, 0.857);
  font-family: "Times New Roman", Times, serif;
}
.search {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  width: 250px;
  height: 20px;
  border-radius: 10px;
  color: #484541;
}
input {
  width: 200px;
  border: none;
  outline: rgb(255, 253, 253);
  background: rgb(255, 255, 255);
  font-size: 12px;
  margin-left: 20px;
}

.fa-regular {
  font-size: 17px;
}
.list li a:hover {
  color: #06ffea;
  font-size: 18px;
  padding: 2px;
  transition-duration: 0.5s;
}
#logo:hover {
  font-size: 21px;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
/*  Products Wireless Headphone */
body {
  background-color: rgb(235, 235, 235);
}
main {
  display: grid;
  grid-template-columns: 220px 220px 220px 220px;
  gap: 0px 40px;
  align-items: center;
  justify-content: center;
}
.card {
  background-color: white;
  width: 220px;
  border-radius: 10px;
  box-shadow: 0 4px 20px;
  padding: 10px;
  margin: 20px;
}
img {
  width: 210px;
  height: 230px;
}

.card-title {
  font-size: 15px;
  color: rgb(8, 150, 251);
}
.card-price {
  color: maroon;
  font-weight: bold;
  font-size: 14px;
}
.card-description {
  font-family: "Gadugi";
  font-size: 12px;
  color: #484541;
  text-align: left;
}
.btn-add-buy {
  display: flex;
  justify-content: space-between;
}
.add-to-cart {
  background-color: rgb(0, 139, 199);
  padding: 5px 8px;
  border-radius: 5px;
  color: rgb(0, 255, 204);
  text-decoration: none;
  font-size: 14px;
}
.add-to-cart:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.buynow {
  background-color: rgb(225, 2, 102);
  padding: 5px 8px;
  border-radius: 5px;
  color: rgb(255, 225, 0);
  text-decoration: none;
  font-size: 14px;
}
.buynow:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
/* footer */
.footer {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(
    to right,
    rgb(9, 255, 235),
    rgb(2, 91, 245)
  );
  padding: 10px;
  color: rgb(37, 46, 40);
  gap: 120px;
}

.list-columns a {
  display: block;
  text-decoration: none;
  color: rgb(5, 60, 97);
  padding: 2px;
  font-size: 14px;
}
.footer h4 {
  padding-bottom: 10px;
  font-size: 18px;
  color: rgb(189, 9, 189);
}
.copyright {
  background-color: #f4a11bad;
  color: rgb(2, 97, 134);
  padding: 8px;
  text-align: center;
}
