*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
   .contaner{
    width: 80%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 20px;
   }
   .layout-products{
    display: grid;
    grid-template-columns: 100px 1fr;
   }
   .pic-child{
    max-height: 390px;
    overflow-y: scroll ;
    direction: rtl;
    scrollbar-width: none;
   }
   .pic-child img{
    width: 100px;
    height: 110px;
    margin: 8px 0px;
   }
   .pic-product img{
    width: 100%;
    height: 420px;
    margin-left: 5px;
   }
   .card-title{
    color: cornflowerblue;
   }
   .card-price{
    color: brown;
    font-size: 18px;
    padding-bottom: 10px;
   }
   .card-description{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
   }
   .quantity input{
    width: 60px;
    text-align: center;
    margin-left: 5px;
    border: 2px solid teal;
    border-radius: 5px;
    padding: 4px;
    color: tomato;
    font-size: 15px;
   }
   .btn-add-buy{
    display: flex;
    gap: 15px;
    margin-top: 20px;
   }
   .add-to-cart{
    background-color: rgb(0, 139, 199);
    padding: 5px 8px;
    border-radius: 5px;
    color: rgb(0, 255, 204);
    text-decoration: none;
    font-size: 14px;
   }
   .buynow{
    background-color: rgb(225, 2, 102);
    padding: 5px 8px;
    border-radius: 5px;
    color: rgb(255, 225, 0);
    text-decoration: none;
    font-size: 14px;
   }
   /* Related */
   .related h3{
    color: rgb(205, 0, 51);
    border-left: 5px solid rgb(246, 24, 24);
    padding-left: 5px;
    margin-bottom: 20px;
   }
   .related-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
   }
   .related-card{
    padding: 10px;
   }
   .related-card img{
    width: 100px;
    /* height: 200px; */
   }
   .related-card h2{
    font-size: 16px;
   }
   .related-description{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
   }
   @media (max-width: 768px){
        .contaner{
            grid-template-columns: 1fr;
        }
        .layout-products{
            display: grid;
            grid-template-columns: 1fr;
        }
        .pic-child {
            order: 2;
            direction: ltr;
            display: flex;
        }
        .pic-product{
            order: 1;
        }
        .related-grid{
            grid-template-columns: 1fr 1fr;
        }
   }